**/.git
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.obsidian
**/.kioku
**/.trash
**/*.md
**/docs
**/tests
**/.gitignore
**/.dockerignore
**/docker-compose*.yml
**/Dockerfile
**/.env*
